<div class="modal fade" id="ModalStaffRequest" data-bs-backdrop="static" data-bs-keyboard="false" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="ModalStaffRequestLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalStaffRequestLabel"><i class="fas fa-user-plus"></i> <span class="title">Staff Details</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container first">
                    <div id="StaffRequestDetails" class="row">
                        <div class="col text-center LoadingArea">
                            <i class="fas fa-spinner fa-spin"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary CloseModal ClearID SaveStaffRequestButton" data-id="StaffID"><i class="fas fa-paper-plane"></i> Submit Request</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-sign-out-alt"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>