@page
@model StaffPortal.Pages.AdmissionsModel
@{
    ViewData["Title"] = "Admissions";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> Admissions
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-warning">
                <h4>Resources</h4>
                <ul class="list-group">
                    <li class="list-group-item">Admissions Policy (Printable Version (<a href="~/files/Admissions/AdmissionsPolicy2016.pdf" target="_blank" rel="noopener">PDF</a> | <a href="~/files/Admissions/AdmissionsPolicy2016.docx" target="_blank" rel="noopener">Word</a>)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
