@page
@model StaffPortal.Pages.ALSModel
@{
    ViewData["Title"] = "ALS";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> ALS
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Contact the Team</h4>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-user"></i> Maxine Collins</li>
                    <li class="list-group-item"><i class="fas fa-user-tag"></i> Head of ALS</li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:m.collins@wlc.ac.uk">m.collins@wlc.ac.uk</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-info">
                <h4>What We Do</h4>
                <p>
                    Focusing on the Learner journey from identification of needs through appropriate assessment to providing targeted support Additional Learning Support works to enable student progression to a positive destination.
                </p>
                <p>
                    ALS & Disability Support provide a range of support delivered by a team of experienced and highly qualified staff, some of whom have previous commercial or industrial experience and have a thorough knowledge of the vocational curriculum areas.
                </p>
                <p>
                    Strong partnerships have been developed over the years between specialist organisations and ALS enabling high quality and appropriate support for students with a range of disabilities.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Resources</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://sites.google.com/wlc.ac.uk/learningsolutions/home?pli=1&authuser=1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> ALS Team Portal 19/20</a></li>
                    <li class="list-group-item">
                        <a href="https://drive.google.com/open?id=0B8zvc2oC7oksfkNna19sN0pQRzh1MnRKdF8wcGQ2RDNGX2Z4a0syU1NqQVhjZE43aUlMUkE&authuser=0#list" target="_blank" rel="noopener">
                            <i class="fas fa-chevron-circle-right"></i> SpLD Resource: The affects on teaching and learning
                            <br />
                            Included in this new resource:<br />
                            ADHD- Attention Deficit (Hyperactive) Disorder, Aphasia, Apraxia, Arthritis, Asperger syndrome, Asthma, Autism and much much more...
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Quality</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="http://staff.wlc.ac.uk/staff_portal/services/ALS/quality/content/index%20ALS.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Additional Learning Support</a></li>
                    <li class="list-group-item"><a href="http://staff.wlc.ac.uk/staff_portal/services/ALS/quality/content/index%20Disability.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Disability Support</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Communication</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="http://staff.wlc.ac.uk/staff_portal/services/ALS/communication/index%20als.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Meetings</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
