@page
@model StaffPortal.Pages.CanteenModel
@{
    ViewData["Title"] = "Canteen";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> Canteen
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Contact the Team</h4>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-user"></i> Konstantinos Christodoulou</li>
                    <li class="list-group-item"><i class="fas fa-user-tag"></i> Innovate Food Area Manager</li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:k.christodoulou@wlc.ac.uk">k.christodoulou@wlc.ac.uk</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-warning">
                <h4>Resources</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="~/files/Canteen/Hospitality Form_new.xlsx" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Hospitality Request Form</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
