@page
@model StaffPortal.Pages.EqualityAndDiversityModel
@{
    ViewData["Title"] = "Equality and Diversity";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> Equality and Diversity
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Contact the Team</h4>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-user"></i> Charles Nelson</li>
                    <li class="list-group-item"><i class="fas fa-user-tag"></i> Assistant Principal</li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:c.nelson@wlc.ac.uk">c.nelson@wlc.ac.uk</a></li>
                    <li class="list-group-item"><i class="fas fa-phone"></i> 6191</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-info">
                <h4>What We Do</h4>
                <p>
                    As part of the College core values for inclusion and integrity we are committed to being open, welcoming and supportive. Our commitment to equality and diversity underpins everything we do. We work to uphold our values in our planning and decision-making, our teaching and learning, our actions and relationships. We aim to be fair, open, honest and accountable to the communities we serve and to treat all with respect.
                </p>
                <p>
                    The College has been awarded the National Centre of Diversity for Investors in Diversity Recognition at Stage 2, valid from January 2019.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-warning">
                <h4>Resources</h4>
                <p>
                    Please visit our <a href="https://sites.google.com/gspace.wlc.ac.uk/eanddpage/home" target="_blank" rel="noopener">Google site</a> for more information
                </p>
            </div>
        </div>
    </div>
</div>
