@page
@model StaffPortal.Pages.EvolveLearningGroupModel
@{
    ViewData["Title"] = "Evolve Learning Group";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> Evolve Learning Group
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Contact the Team</h4>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-user"></i> Judi Hobson</li>
                    <li class="list-group-item"><i class="fas fa-user-tag"></i> Head of Apprenticeships and Skills Training</li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:j.hobson@wlc.ac.uk">j.hobson@wlc.ac.uk</a></li>
                    <li class="list-group-item"><i class="fas fa-phone"></i> 2576</li>
                </ul>
            </div>
        </div>
    </div>
</div>
