@page
@model StaffPortal.Pages.ExecutiveSupportAndAdministrationModel
@{
    ViewData["Title"] = "Executive Support and Administration";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> Executive Support and Administration
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Contact the Team</h4>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-user"></i> Martina Joachim</li>
                    <li class="list-group-item"><i class="fas fa-user-tag"></i> Executive Assistant</li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:m.joachim@wlc.ac.uk">m.joachim@wlc.ac.uk</a></li>
                    <li class="list-group-item"><i class="fas fa-phone"></i> 2210</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-info">
                <h4>What We Do</h4>
                <h5>Administration Department Vision:</h5>
                <p>
                    To provide a fit for purpose customer focused service to all stakeholders of the College whilst ensuring/maintaining efficiency, financial wellbeing and a continual progression/succession planning strategy.
                </p>
                <p>
                    To remove all un-necessary bureaucratic working practices and replace them with improved efficiencies re systems and processes and to ensure a continual cycle of quality and easy to use/understand guidelines and training sessions as necessary.
                </p>
                <p>
                    To continue to upskill and develop members of the department to ensure we are in a position of being proactive in accordance with any changes ie technology.
                </p>
                <p>
                    <a href="~/files/ExecutiveSupportAndAdministration/service_level_agreement_exec_support_and_admin1819.docx" target="_blank" rel="noopener" class="btn btn-primary">Executive Support and Administration service level agreement</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-warning">
                <h4>Resources</h4>
                <h5>Attendance &amp; Punctuality Phone Numbers</h5>

                <p>
                    Students must report absence to their college administrator:
                </p>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Campus</th>
                            <th scope="col">Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ealing Green College</td>
                            <td><i class="fas fa-phone"></i> <a href="tel:020 8231 6065">020 8231 6065</a></td>
                        </tr>
                        <tr>
                            <td>Hammersmith & Fulham College</td>
                            <td><i class="fas fa-phone"></i> <a href="tel:020 7565 1293">020 7565 1293</a> / <a href="tel:020 7565 1294">020 7565 1294</a></td>
                        </tr>
                        <tr>
                            <td>Park Royal College</td>
                            <td><i class="fas fa-phone"></i> <a href="tel:020 8231 6528">020 8231 6528</a></td>
                        </tr>
                        <tr>
                            <td>Southall Community College</td>
                            <td><i class="fas fa-phone"></i> <a href="tel:020 8231 6162">020 8231 6162</a></td>
                        </tr>

                    </tbody>
                </table>

                <h5 class="mt-5">Administration Team Email Addresses</h5>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Campus</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ealing Green College</td>
                            <td><i class="fas fa-at"></i> <a href="mailto:admin-team-ealing@wlc.ac.uk">admin-team-ealing@wlc.ac.uk</a></td>
                        </tr>
                        <tr>
                            <td>Hammersmith & Fulham College</td>
                            <td><i class="fas fa-at"></i> <a href="mailto:admin-team-hammersmith@wlc.ac.uk">admin-team-hammersmith@wlc.ac.uk</a></td>
                        </tr>
                        <tr>
                            <td>Park Royal College</td>
                            <td><i class="fas fa-at"></i> <a href="mailto:admin-team-park-royal@wlc.ac.uk">admin-team-park-royal@wlc.ac.uk</a></td>
                        </tr>
                        <tr>
                            <td>Southall Community College</td>
                            <td><i class="fas fa-at"></i> <a href="mailto:admin-team-southall@wlc.ac.uk">admin-team-southall@wlc.ac.uk</a></td>
                        </tr>

                    </tbody>
                </table>

                <ul class="list-group">
                    <li class="list-group-item"><a href="~/files/ExecutiveSupportAndAdministration/ES_Admin_Reception_Org chart Sep 2020.docx" target="_blank" rel="noopener">Executive Support, Administration & Reception Organisation Chart</a></li>
                    <li class="list-group-item"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeKkZyGLbdYu7uvlV3GeyvzoAuPaVijfHBccUS8l9_dReegFw/viewform" target="_blank" rel="noopener">Reception Visitor Form</a></li>
                    <li class="list-group-item"><a href="~/files/ExecutiveSupportAndAdministration/stationary order guidance.docx" target="_blank" rel="noopener">Stationary Order Guidance</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
