@page
@model StaffPortal.Pages.FinanceModel
@{
    ViewData["Title"] = "Finance";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> Finance
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Contact the Team</h4>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-user"></i> Rasa Belabed</li>
                    <li class="list-group-item"><i class="fas fa-user-tag"></i> Finance Operations Manager</li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:r.belabed@wlc.ac.uk">r.belabed@wlc.ac.uk</a></li>
                    <li class="list-group-item"><i class="fas fa-phone"></i> 2488</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-info">
                <h4>What We Do</h4>
                <p>
                    The Finance Department ensures the College adheres to financial regulations.
                </p>
                <p>
                    The department's minimum quality standards underpin the College's strategic aims
                </p>
                <p>
                    The key functions are:-<br />
                    <ul class="list-group">
                        <li class="list-group-item">Financial Accounts</li>
                        <li class="list-group-item">Management Accounts</li>
                        <li class="list-group-item">Management Information Reports</li>
                        <li class="list-group-item">Purchase/Sales Ledger</li>
                        <li class="list-group-item">Banking and Treasury Management</li>
                        <li class="list-group-item">Business Partnership/Decision Support</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Resources</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/finance/supporting_resources/content/Forms/forms.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Forms</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/FINANCE/supporting_resources/content/faqs/faqs.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> FAQ on Finance Procedures</a></li>
                    <li class="list-group-item"><a href="https://docs.google.com/spreadsheets/d/1-MhZPD8kt6gGNACvQX5hCRJvmCeasghdkhgMYunXico/edit?usp=sharing" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Cost centres / Delivery Points / Nominal Codes</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/finance/supporting_resources/content/Reports_Statements/Index_pages/Reports_Statements_index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Financial Regulations / Insurance</a></li>
                    <li class="list-group-item"><a href="https://docs.google.com/document/d/10yUcHS9ZvPn3d1eY_-74-A4oqMs_zxBOJGx9i7mIrd8/edit?usp=sharing" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Methods for recovering unpaid fees</a></li>
                    <li class="list-group-item"><a href="~/files/Finance/Purchase_Order-Invoices_process_workflow_21-04-2020-(1).pdf" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Requistion/Purchase order/Invoice workflow</a></li>
                    <li class="list-group-item"><a href="https://docs.google.com/spreadsheets/d/1-MhZPD8kt6gGNACvQX5hCRJvmCeasghdkhgMYunXico/edit?usp=sharing" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Cost centres / Delivery Points / Nominal Codes</a></li>
                    <li class="list-group-item"><a href="https://drive.google.com/file/d/13hrmifH2GsiXFttSbfP4l0No1VNrxXbc/view?usp=sharing" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> TechnologyOne "How to raise a requisition MANUAL"</a></li>
                    <li class="list-group-item"><a href="https://drive.google.com/file/d/1GVNbkMVUuIMnmDAFSuuL-X2CUlZ6uUA1/view?usp=sharing" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> TechnologyOne "Budget Holder's MANUAL"</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Quality</h4>
                <p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfYkLmo7d3ocuUHnZLVFU5qsBHCbIRDzN2igmMrRzJ_AsLevg/viewform" class="btn btn-primary" target="_blank" rel="noopener"><i class="fas fa-poll"></i> Please complete internal service area survey</a>
                </p>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> VAT number - 168830282</li>
                    <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> College bank account details - a/n Ealing, Hammersmith and West London, s/c 20-36-08, a/c 60444839</li>
                    <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> Cheques should be issued to Ealing, Hammersmith and West London , signed and not post-dated. (Please add student's ID at a back)</li>
                    <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> We do not accept Diner and American Express cards.</li>
                    <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> International bank account details - a/n EHWLC, SWIFT code BARCGB22, IBAN number GB12BARC20360860444839</li>
                    <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> Company's registration number - none (EHWLC is an exempt charity by the FE act of parliament)</li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Communication</h4>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> All queries should be sent to <a href="mailto:finance@wlc.ac.uk" class="btn btn-primary"><i class="fas fa-envelope"></i> finance@wlc.ac.uk</a></li>
                    <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> Invoices for payments have to be approved on TECHONE before the 14th of each month. We will be having one (around 20th of the month) payment run only.</li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/FINANCE/supporting_resources/content/Communication/loomis__cash_collection.html" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Meetings</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
