@page
@model StaffPortal.Pages.GovernorsModel
@{
    ViewData["Title"] = "Governors";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> Governors
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Contact the Team</h4>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:e.matorial@wlc.ac.uk">e.matorial@wlc.ac.uk</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-info">
                <h4>What We Do</h4>
                <p>
                    The main role of the Governing Body is to define what kind of College this is.  That means deciding what we can do to contribute to the priorities set by the Government, and what we can do to be useful to local people and local businesses - and striking a balance between the two where they conflict.
                </p>
                <p>
                    On behalf of our local communities, we also hold the Principal and his team to account, providing constructive challenge with the aim of making sure that the College does everything it can to be as useful as possible to local people and to local businesses.
                </p>
                <p>
                    All governors are unpaid volunteers, appointed from a variety of different backgrounds, and for three yearly terms, which can be renewed.  Vacancies arise from time to time.
                </p>
                <p>
                    If you are interested to know more, click here
                </p>

                <h4>Governors' Portal</h4>
                <p>
                    This area is confidential to the Governors and Senior Leadership Team.
                </p>
                <p>
                    Following the dispatch of agendas and reports in hard copy to Governors, the papers are linked here, usually on the same day as dispatch. Papers may contain confidential business; confidentially of reports and discussion in the meetings is determined at the end of each meeting for the purposes of publication of minutes on the College website.
                </p>
                <p>
                    <a href="https://staff.wlc.ac.uk/staff_portal/leadership/governors/private/index.asp" target="_blank" rel="noopener" class="btn btn-primary">Governors' Portal</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-warning">
                <h4>Resources</h4>
                <ul class="list-group">
                    <li class="list-group-item">Governors' Expenses Claim Form | Printable version  (<a href="~/files/Governors/GOV_expenses_claim_form_FGP_260407_approved.pdf" target="_blank" rel="noopener">PDF</a> | <a href="~/files/Governors/GOV_expenses_claim_form_FGP_260407_approved.doc" target="_blank" rel="noopener">Word</a>)</li>
                    <li class="list-group-item">Governors' Declaration of Eligibility | Printable version (<a href="~/files/Governors/Declaration of Eligibility  2018-19.docx" target="_blank" rel="noopener">Word</a>)</li>
                    <li class="list-group-item">Governors' Register of Interests | Printable version (<a href="~/files/Governors/Register of Interests  2018-19 (1).docx" target="_blank" rel="noopener">Word</a>)</li>
                </ul>
            </div>
        </div>

        <div class="col-md">
            <div class="bd-callout bd-callout-warning">
                <h4>Communication</h4>
                <ul class="list-group">
                    <li class="list-group-item">Governing Body Calendar of Meeting 2018-2019 | Printable version (<a href="~/files/Governors/WLC FE Corp Meeting schedule draft chronological 2018_19.docx" target="_blank" rel="noopener">Word</a>)</li>
                    <li class="list-group-item"><a href="http://staff.wlc.ac.uk/staff_portal/leadership/governors/policies/Contents/template-simpletable.asp" target="_blank" rel="noopener">Resources, Policies & Procedures</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
