@page
@model StaffPortal.Pages.HealthAndSafetyModel
@{
    ViewData["Title"] = "Health and Safety";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> Health and Safety
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Contact the Team</h4>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fas fa-user"></i> Robin Jones</li>
                        <li class="list-group-item"><i class="fas fa-user-tag"></i> Head of Health and Safety</li>
                        <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:r.jones@wlc.ac.uk">r.jones@wlc.ac.uk</a></li>
                        <li class="list-group-item"><i class="fas fa-phone"></i> 2213</li>
                    </ul>
                </p>
                <p>
                    <a href="mailto:healthandsafety@wlc.ac.uk" class="btn btn-primary"><i class="fas fa-envelope"></i> healthandsafety@wlc.ac.uk</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-info">
                <h4>What We Do</h4>
                <p>
                    The Health and Safety Manager and Officer are based at Hammersmith Campus. There are Health and Safety co-ordinators at Acton and Ealing Campuses and a Health and Safety Commitee who consider strategy and policy.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Resources</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://docs.google.com/spreadsheets/d/1uzY7GASdTw3V2lnKvb2O3BI4tiB5eTG12IdJzNAPK9E/edit?usp=sharing" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> First Aid Rotas for: Ealing, Hammersmith & West London College (Ealing Green College / Hammersmith & Fulham College / Park Royal College / Southall Community College)</a></li>
                    <li class="list-group-item"><a href="https://drive.google.com/file/d/159KWZkPa0kGCx99p7_ocJkV2jhlclvAK/view?usp=sharing" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Reopening Phase 1 - First Aider Schedule from 22 June to end of Term</a></li>
                    <li class="list-group-item"><a href="https://drive.google.com/file/d/147gcbQKxssuAzRKXSOwDTTUdU2uBOpR3/view?usp=sharing" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Reopening Phase 1 - First Aiders Guidance during COVID 19  Pandemic</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/health_safety/supporting_resources/content/EnvironmentalProtectionSustainability/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Environmental Protection and Sustainability</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/health_safety/supporting_resources/content/Fire/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Fire Related Documents</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/health_safety/supporting_resources/content/First_aid/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> First Aid, Accidents & Incidents</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/health_safety/supporting_resources/content/General/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> General Procedures</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/health_safety/supporting_resources/content/Health/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Health Related Procedures</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/health_safety/supporting_resources/content/Information/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Information & guidance</a></li>
                    <li class="list-group-item"><a href="http://staff.wlc.ac.uk/staff_portal/services/health_safety/supporting_resources/content/Inspections/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Departmental Health & Safety Inspection Documentation</a></li>
                    <li class="list-group-item"><a href="https://drive.google.com/file/d/1UXDW1S8S0Trx-1znWNrDhoVypG3GTFpq/view?usp=sharing" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Lock Down Procedure</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/health_safety/supporting_resources/content/Pregnancy/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Pregnancy Assessment Forms</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/health_safety/supporting_resources/content/Risk_assessment/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Risk Assessment Related Forms</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/health_safety/supporting_resources/content/Stress/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Stress Assessments</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/health_safety/supporting_resources/content/Trips/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> College Trips Forms</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/health_safety/supporting_resources/content/Young_apprentice_placements/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Apprentice, Work Placements and Workbase Learning</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/health_safety/supporting_resources/content/completed_classroom_risk_assessments/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Completed Classroom & Office Risk Assessments - Whole College</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/college_documents/policies/Health&Safety/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Policies</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/health_safety/supporting_resources/content/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Training</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md">
            <div class="bd-callout bd-callout-warning">
                <h4>Communication</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/health_safety/communication/content/meetings/10_11/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> 10/11</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/health_safety/communication/content/meetings/11_12/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> 11/12</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/HEALTH_SAFETY/communication/content/meetings/14_15" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> 14/15</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
