@page
@model StaffPortal.Pages.HealthAndSafetyCommitteesModel
@{
    ViewData["Title"] = "Health and Safety Committees";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> Health and Safety Committees
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Contact the Team</h4>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fas fa-user"></i> Robin Jones</li>
                        <li class="list-group-item"><i class="fas fa-user-tag"></i> Head of Health and Safety</li>
                        <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:r.jones@wlc.ac.uk">r.jones@wlc.ac.uk</a></li>
                        <li class="list-group-item"><i class="fas fa-phone"></i> 2213</li>
                    </ul>
                </p>
                <p>
                    <a href="mailto:healthandsafety@wlc.ac.uk" class="btn btn-primary"><i class="fas fa-envelope"></i> healthandsafety@wlc.ac.uk</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Resources</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/college_documents/policies/Health&Safety/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Policies</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md">
            <div class="bd-callout bd-callout-warning">
                <h4>Communication</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/themes/HEALTH_SAFETY_COMMITTEES/communication/content/meetings/20-21/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Committee Meetings 2020 - 2021</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/themes/HEALTH_SAFETY_COMMITTEES/communication/content/meetings/19-20/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Committee Meetings 2019 - 2020</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/themes/HEALTH_SAFETY_COMMITTEES/communication/content/meetings/18-19/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Committee Meetings 2018 - 2019</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/themes/HEALTH_SAFETY_COMMITTEES/communication/content/meetings/17-18/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Committee Meetings 2017 - 2018</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/themes/health_safety/communication/content/meetings/16-17/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Committee Meetings 2016 - 2017</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/themes/health_safety/communication/content/meetings/15-16/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Committee Meetings 2015 - 2016</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/themes/health_safety/communication/content/meetings/14_15/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Committee Meetings 2014 - 2015</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/themes/health_safety/communication/content/meetings/13_14/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Committee Meetings 2013 - 2014</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
