@page
@model StaffPortal.Pages.HumanResourcesModel
@{
    ViewData["Title"] = "Human Resources";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> Human Resources
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Contact the Team</h4>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-user"></i> Ben Burchett</li>
                    <li class="list-group-item"><i class="fas fa-user-tag"></i> Head of HR Operations</li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:b.burchett@wlc.ac.uk">b.burchett@wlc.ac.uk</a></li>
                    <li class="list-group-item"><i class="fas fa-phone"></i> 2117</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-info">
                <h4>What We Do</h4>
                <p>
                    Human Resources Mission:
                </p>
                <p>
                    The vision for the HR department is to deliver a professional, effective and efficient HR service that enables the college to be an employer who:
                </p>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> is fully compliant with legislation, policy and procedure</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> promotes and practices good employment practice</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> encourages, welcomes and celebrates diversity</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> promotes a culture of personal and organisational development</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> promotes and encourages a healthy workforce</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> is efficient and administratively organised</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> has a reputation for innovative employment practice, built on Learner First principles</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> trains and trusts managers to manage</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Resources</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://sites.google.com/wlc.ac.uk/learningsolutions/home?pli=1&authuser=1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Appraisal Scheme 2020-2021</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/wlc.ac.uk/learningsolutions/home?pli=1&authuser=1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Benefits for Staff</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/wlc.ac.uk/learningsolutions/home?pli=1&authuser=1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Contracts and Salary Scales</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/wlc.ac.uk/learningsolutions/home?pli=1&authuser=1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Day One Absence</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/wlc.ac.uk/learningsolutions/home?pli=1&authuser=1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Occupational Health</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/wlc.ac.uk/learningsolutions/home?pli=1&authuser=1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Forms and Guidelines</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/wlc.ac.uk/learningsolutions/home?pli=1&authuser=1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Hourly Paid Lecturer's &amp; Timesheet Staff</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/wlc.ac.uk/learningsolutions/home?pli=1&authuser=1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> HR Policies</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/wlc.ac.uk/learningsolutions/home?pli=1&authuser=1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Employee Assistant Programme - (EAP)</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/wlc.ac.uk/learningsolutions/home?pli=1&authuser=1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Pension</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/wlc.ac.uk/learningsolutions/home?pli=1&authuser=1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> QTLS</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/wlc.ac.uk/learningsolutions/home?pli=1&authuser=1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Resourcing</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/wlc.ac.uk/learningsolutions/home?pli=1&authuser=1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Self Service (SS)</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/wlc.ac.uk/learningsolutions/home?pli=1&authuser=1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> SET</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/wlc.ac.uk/learningsolutions/home?pli=1&authuser=1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Staff Development Day Information</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/wlc.ac.uk/learningsolutions/home?pli=1&authuser=1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Staff Survey</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/wlc.ac.uk/learningsolutions/home?pli=1&authuser=1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Useful links</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Quality</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="http://staff.wlc.ac.uk/staff_portal/services/ALS/quality/content/index%20ALS.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Additional Learning Support</a></li>
                    <li class="list-group-item"><a href="http://staff.wlc.ac.uk/staff_portal/services/ALS/quality/content/index%20Disability.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Disability Support</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Communication</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="http://staff.wlc.ac.uk/staff_portal/services/ALS/communication/index%20als.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Meetings</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
