@page
@model StaffPortal.Pages.InformationSystemsModel
@{
    ViewData["Title"] = "Information Systems";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> Information Systems
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Contact the Team</h4>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-user"></i> Adrienne Giles</li>
                    <li class="list-group-item"><i class="fas fa-user-tag"></i> Director of MIS</li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:a.giles@wlc.ac.uk">a.giles@wlc.ac.uk</a></li>
                    <li class="list-group-item"><i class="fas fa-phone"></i> 2037</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-info">
                <h4>What We Do</h4>
                <p>
                    The Information Systems (IS) team manage the College student record system and is responsible for integrating 3rd party systems and building College specific interfaces using web technology. The IS team provides the College management team with student and resource related business intelligence including funding returns to government agencies.
                </p>
                <p>
                    The IS department is made up of the following core teams:
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> Funding & Planning - Course file, Funding returns, Data Quality, Curriculum planning</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> Development - setup, integration of 3rd party systems, creating web based solutions for the College</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> Reporting - management information reporting</li>
                    </ul>
                </p>
                <p>
                    If you have any issues with the Pro-Solution, Pro-Monitor, Pro-Portal, Pro-Resource, Pro-Achieve, Reporting or Integration please log a request on the <a href="https://wlcservicedesk.topdesk.net/" target="_blank" rel="noopener"><i class="fas fa-question-circle"></i> Reporting &amp; Systems Integration Helpdesk</a>.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Resources</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="http://skillsfundingagency.bis.gov.uk/" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Skills Funding Agency</a></li>
                    <li class="list-group-item"><a href="https://www.gov.uk/government/organisations/education-funding-agency" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Education Funding Agency</a></li>
                    <li class="list-group-item"><a href="http://providers.lsc.gov.uk/LAD/aims/searchcriteria.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Learning Aims Database</a></li>
                    <li class="list-group-item"><a href="http://10.5.1.14/centime3/reportsportal/report_portal.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Reports Catalogue</a></li>
                    <li class="list-group-item"><a href="http://staff.wlc.ac.uk/staff_portal/services/information_systems/supporting_resources/content/proachieve/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> ProAchieve Documents</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">ProSolution Web Introductory Guide</h4>
                <p>
                    This guide covers:
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> Accessing ProSolution Web</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> Running Reports</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> Change Requests</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> Viewing Offering Details</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> Marking Someone's Register</li>
                    </ul>
                </p>
                <p class="text-end">
                    <a href="https://docs.google.com/document/d/10Pd3qaIWMTMjWuvhM4eAo3KxxBMUogqiqchNCzH1_do/edit?usp=sharing" target="_blank" rel="noopener" class="btn btn-primary"><i class="fas fa-external-link-alt"></i> View the Guide</a>
                </p>
            </div>
        </div>
    </div>
</div>
