@page
@model StaffPortal.Pages.ITServicesModel
@{
    ViewData["Title"] = "IT Services";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> IT Services
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Contact the Team</h4>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-user"></i> Salman Munir</li>
                    <li class="list-group-item"><i class="fas fa-user-tag"></i> Head of IT Services</li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:s.munir@wlc.ac.uk">s.munir@wlc.ac.uk</a></li>
                    <li class="list-group-item"><i class="fas fa-phone"></i> 2309</li>
                </ul>
                <div class="row mt-3">
                    <div class="col-md text-center">
                        <a href="https://wlcservicedesk.topdesk.net/tas/public/login/form" class="btn btn-primary"><i class="fas fa-question-circle"></i> it.helpdesk@wlc.ac.uk</a>
                    </div>
                    <div class="col-md text-center">
                        <a href="mailto:it.helpdesk@wlc.ac.uk" class="btn btn-primary"><i class="fas fa-envelope"></i> it.helpdesk@wlc.ac.uk</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-info">
                <h4>What We Do</h4>
                <p>
                    We work with staff employed by the college to provide IT services to the whole college community of staff and enrolled learners.
                </p>
                <p>
                    Providing and assisting the college community with Information Technology for success in a diverse and changing world.
                </p>
                <p>
                    Building, supporting and maintaining the information technology infrastructure for the college community.
                </p>
                <p>
                    Providing advice and leadership in planning and developing Information technology for the college community.
                </p>
                <p>
                    Specifically, we can help with:
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> Problems with computers, printers, presentation equipment, software.</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> Problems with email, Web access and connectivity problems</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> Advice and planning for current and future IT</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Resources</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://wlcservicedesk.topdesk.net/tas/public/login/form" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> IT Services Helpdesk</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/ux_design_learning_technologies/supporting_resources/content/howto/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> How to guides</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Quality</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="~/files/ITServices/ITServicesSLA.pdf" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> IT Services SLA</a></li>
                    <li class="list-group-item"><a href="http://wlcba-prtg001m.middle.man/public/mapshow.htm?id=2172&mapid=2DB6D6E4-3BCF-49BC-8CEC-3740ED210AD2" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Network Monitoring</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Communication</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="~/files/ITServices/ITAcceptableUsePolicy.pdf" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> IT Acceptable Use Policy</a></li>
                    <li class="list-group-item"><a href="~/files/ITServices/ITEmailPolicy.pdf" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> IT Email Policy</a></li>
                    <li class="list-group-item"><a href="~/files/ITServices/ITMobileDeviceUsagePolicy.pdf" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> IT Mobile Device Usage Policy</a></li>
                    <li class="list-group-item"><a href="~/files/ITServices/ITNetworkPolicy.pdf" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> IT Network Policy</a></li>
                    <li class="list-group-item"><a href="~/files/ITServices/ITPasswordPolicy.pdf" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> IT Password Policy</a></li>
                    <li class="list-group-item"><a href="~/files/ITServices/ITUserAccountPolicy.pdf" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> IT User Account Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
