@page
@model StaffPortal.Pages.LearningCentreModel
@{
    ViewData["Title"] = "Learning Centre";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> Learning Centre
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Contact the Team</h4>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fas fa-user"></i> Jacqueline Clarke</li>
                        <li class="list-group-item"><i class="fas fa-user-tag"></i> Learning Centre Manager</li>
                        <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:j.clarke@wlc.ac.uk">j.clarke@wlc.ac.uk</a></li>
                        <li class="list-group-item"><i class="fas fa-phone"></i> 2389</li>
                        <li class="list-group-item"><i class="fas fa-phone"></i> 2343</li>
                    </ul>
                </p>
                <p>
                    <a href="mailto:library@wlc.ac.uk" class="btn btn-primary"><i class="fas fa-envelope"></i> library@wlc.ac.uk</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-info">
                <h4>What We Do</h4>
                <p>
                    We have a Learning Centre on each campus to provide resources to support teaching and learning. Each LC is staffed by a a friendly committed team who are there to help you and your learners.
                </p>
                <p>
                    We have a mix of traditional learning resources such as books, magazines, journals, DVDs, printers and photocopiers, computers as well as access to a vast range of online resources.  Each Learning Centre has facilities for group work as well as quiet study areas.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-info">
                <h4>Learning Centre Opening Hours (Term Time)</h4>
                <div class="row">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-clock"></i> Ealing Campus</h5>
                                <table class="table table-striped table-hover">
                                    <tbody>
                                        <tr>
                                            <td>Mon</td>
                                            <td>8.45am - 5.00pm</td>
                                        </tr>
                                        <tr>
                                            <td>Tue</td>
                                            <td>8.45am - 5.00pm</td>
                                        </tr>
                                        <tr>
                                            <td>Wed</td>
                                            <td>8.45am - 5.00pm</td>
                                        </tr>
                                        <tr>
                                            <td>Thu</td>
                                            <td>8.45am - 5.00pm</td>
                                        </tr>
                                        <tr>
                                            <td>Fri</td>
                                            <td>8.45am - 5.00pm</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-clock"></i> Hammersmith Campus</h5>
                                <table class="table table-striped table-hover">
                                    <tbody>
                                        <tr>
                                            <td>Mon</td>
                                            <td>8.45am - 5.00pm</td>
                                        </tr>
                                        <tr>
                                            <td>Tue</td>
                                            <td>8.45am - 5.00pm</td>
                                        </tr>
                                        <tr>
                                            <td>Wed</td>
                                            <td>8.45am - 5.00pm</td>
                                        </tr>
                                        <tr>
                                            <td>Thu</td>
                                            <td>8.45am - 5.00pm</td>
                                        </tr>
                                        <tr>
                                            <td>Fri</td>
                                            <td>8.45am - 4.00pm</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-clock"></i> Southall Campus</h5>
                                <table class="table table-striped table-hover">
                                    <tbody>
                                        <tr>
                                            <td>Mon</td>
                                            <td>8.45am - 5.00pm</td>
                                        </tr>
                                        <tr>
                                            <td>Tue</td>
                                            <td>8.45am - 5.00pm</td>
                                        </tr>
                                        <tr>
                                            <td>Wed</td>
                                            <td>8.45am - 5.00pm</td>
                                        </tr>
                                        <tr>
                                            <td>Thu</td>
                                            <td>8.45am - 5.00pm</td>
                                        </tr>
                                        <tr>
                                            <td>Fri</td>
                                            <td>8.45am - 5.00pm</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Resources</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://sites.google.com/gspace.wlc.ac.uk/learningcentre/home" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Learning Centre Website</a></li>
                    <li class="list-group-item"><a href="http://ehawlc.cirqahosting.com/HeritageScripts/Hapi.dll/search1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Learning Centre Catalogue</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/d/0B9tL_DQhZ8tUTVcxTFRBXzNjU3c/p/1b9-owh4KmHr2ew3ovBInYph7gmsZSUG_/edit" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Learning Centre Online Induction and 'How to' videos</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/gspace.wlc.ac.uk/learningcentre/home/suggest-a-resource" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Suggest a book/ resource</a></li>
                    <li class="list-group-item"><a href="http://www.google.com/url?q=http%3A%2F%2Fblcg.innov8lcc.co.uk%2Flogin&sa=D&sntz=1&usg=AFQjCNFWaW-Q38yQqYRvwN7g7b995duhQw" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Blended Learning Consortium</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/gspace.wlc.ac.uk/learningcentre/e-resources/clickview" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> ClickView</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/gspace.wlc.ac.uk/learningcentre/e-resources" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> E-Resources</a></li>
                    <li class="list-group-item"><a href="https://www.google.com/url?q=https%3A%2F%2Fsites.google.com%2Fwlc.ac.uk%2Fwlcstudentservices%2Fhome&sa=D&sntz=1&usg=AFQjCNG_isIVvN72QuAkEr6g57l-CFfKAQ" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Student Services</a></li>
                    <li class="list-group-item"><a href="https://sites.google.com/gspace.wlc.ac.uk/learningcentre/home/faqs" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> FAQs</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Quality</h4>
                <p>
                    The Learning Centre is committed to providing a high quality service.
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Communication</h4>
                <p>
                    Complaints, Compliments or Suggestions
                </p>
                <p>
                    We'd love to hear from you! Send an email to the following address: <a href="mailto:library@wlc.ac.uk"><i class="fas fa-envelope"></i> library@wlc.ac.uk</a>.
                </p>
                <p>
                    If you have any questions or concerns, please contact the Learning Centre Manager, Jacqueline Clarke, at <a href="mailto:j.clarke@wlc.ac.uk"><i class="fas fa-envelope"></i> j.clarke@wlc.ac.uk</a>
                </p>
            </div>
        </div>
    </div>
</div>
