@page
@model StaffPortal.Pages.LearningTechnologiesModel
@{
    ViewData["Title"] = "Learning Technologies and User Experience Design";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> Learning Technologies and User Experience Design
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Contact the Team</h4>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-user"></i> Dan Laidler</li>
                    <li class="list-group-item"><i class="fas fa-user-tag"></i> Interactive Designer</li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:d.laidler@wlc.ac.uk">d.laidler@wlc.ac.uk</a></li>
                    <li class="list-group-item"><i class="fas fa-phone"></i> 2365</li>
                    <li class="list-group-item"><i class="fab fa-google-plus-g"></i> <a href="https://plus.google.com/107572509981816143850/posts">UX Design</a></li>
                    <li class="list-group-item"><i class="fas fa-blog"></i> <a href="https://sites.google.com/a/gspace.wlc.ac.uk/user-experience-design-learning-technologies/home">Updates Blog</a></li>
                </ul>
                <div class="row mt-3">
                    <div class="col-md text-center">
                        <a href="mailto:LearningTechnologiesTeam@gspace.wlc.ac.uk?subject=Enquiry%20from%20Staff%20Portal" class="btn btn-primary"><i class="fas fa-envelope"></i> LearningTechnologiesTeam@gspace.wlc.ac.uk</a>
                    </div>
                    <div class="col-md text-center">
                        <a href="https://staff.wlc.ac.uk/staff_portal/services/LEARNING_TECHNOLOGIES_user_experience_design/request.asp" class="btn btn-primary"><i class="fas fa-lightbulb"></i> New Project / Request Form</a>
                    </div>
                    <div class="col-md text-center">
                        <a href="https://staff.wlc.ac.uk/staff_portal/support/trainingandsupport.asp" class="btn btn-primary"><i class="fas fa-life-ring"></i> ILT Training Request</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-info">
                <h4>What We Do</h4>
                <p>
                    We're making the User eXperience inspiring and we're supporting innovative Learning with Technology. We are a central resource to provide support to curriculum and corporate services in the use and development of elearning, new technologies, systems & web design services. We work with Departments and Services to develop their plans and ideas, as well as working with individuals and course teams focusing on particular projects.
                </p>
                <h5>
                    New Technologies
                </h5>
                <p>
                    The Team also investigates new technologies and developments that could support teaching and learning. This involves setting up research and evaluation projects to investigate and trial new ideas, usually in partnership with others. If successful and viable, we then seek to introduce these technologies and associated support for use across the college.
                </p>
                <h5>
                    Design Thinking
                </h5>
                <p>
                    Our perspective is based on “Design Thinking”, a methodology for practical, creative resolution of problems or issues that looks for an improved future result. In this regard it is a form of solution-based, or solution-focused thinking that starts with the goal or what is meant to be achieved instead of starting with a certain problem.
                </p>
                <p>
                    We strive to deliver & design the best possible user experience in everything we do, we think the best ideas should always win out, and they often do.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-warning">
                <h4>Resources</h4>
                <p>
                    You may find some of the links below useful, interesting or both!
                </p>
                <h5 class="mt-3">
                    ILT Training
                </h5>
                <p>
                    Get support and training: <a href="https://staff.wlc.ac.uk/staff_portal/support/trainingandsupport.asp" target="_blank" rel="noopener">ILT Training Request</a>, or perhaps get started yourself: <a href="https://sites.google.com/a/gspace.wlc.ac.uk/ilt-training/" target="_blank" rel="noopener">ILT Training Support Site (work in progress)</a>
                </p>
                <h5 class="mt-3">
                    Resource Folder
                </h5>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://drive.google.com/open?id=0B8zvc2oC7oksMjE3aHNaS1RrS28&authuser=0" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Shared Resources, feedback, training how tos</a></li>
                </ul>
                <h5 class="mt-3">
                    Our Experiments
                </h5>
                <p>
                    We are always open to trying new ideas & seeing what innovative tecnologies we can support, below are some links, beware - not everything will work!
                </p>
                <ul class="list-group">
                    <li class="list-group-item"><a href="" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Moodle Design Blog</a></li>
                    <li class="list-group-item"><a href="" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Visual College News - a la Pinterest/G+</a></li>
                    <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> Testing: <a href="https://staff.wlc.ac.uk/staff_portal/default_beta.asp" target="_blank" rel="noopener">Try the new homepage</a> | <a href="https://docs.google.com/a/gspace.wlc.ac.uk/document/d/1MetROGQ6BB9mE87sElwwF8TqQ1EQZEe-1bn9yYozvpw/edit?usp=sharing" target="_blank" rel="noopener">Feedback</a></li>
                </ul>
                <h5 class="mt-3">
                    Reports &amp; Analytics
                </h5>
                <p>
                    Usage trends and analytics from various related sites and services:
                </p>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/LEARNING_TECHNOLOGIES_USER_EXPERIENCE_DESIGN/supporting_resources/trending-and-search.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Trending this week</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/LEARNING_TECHNOLOGIES_USER_EXPERIENCE_DESIGN/supporting_resources/trends-monthly.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Monthly Department Usage</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
