@page
@model StaffPortal.Pages.MarketingModel
@{
    ViewData["Title"] = "Marketing";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> Marketing
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Contact the Team</h4>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fas fa-user"></i> Karen O'Connor</li>
                        <li class="list-group-item"><i class="fas fa-user-tag"></i> Acting Head of Marketing</li>
                        <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:ka.oconnor@wlc.ac.uk">ka.oconnor@wlc.ac.uk</a></li>
                        <li class="list-group-item"><i class="fas fa-phone"></i> 2465</li>
                    </ul>
                </p>
                <p>
                    <a href="mailto:marketing@wlc.ac.uk" class="btn btn-primary"><i class="fas fa-envelope"></i> marketing@wlc.ac.uk</a>
                </p>
                <div class="alert alert-secondary" role="alert">
                    If you have a request, please submit it using the appropriate form below. Thank you!
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-info">
                <h4>What We Do</h4>
                <p>
                    The Marketing and Communications Team is responsible for the promotion of West London College.
                </p>
                <p>
                    We ensure that the College is promoted in the best way using a wide variety of marketing channels (e.g. events, digital, social media, outdoor advertising, print advertising and PR).
                </p>
                <p>
                    Our main priority in an increasingly competitive market is to recruit students and maintain the reputation of the College.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md">
                    <div class="bd-callout bd-callout-warning">
                        <h4>Resources</h4>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="~/files/Marketing/Social Media Guidelines for staff - final edit.docx" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Social Media Guidelines</a></li>
                            <li class="list-group-item"><a href="~/files/Marketing/West London College - Brand Guidelines.pdf" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> WLC - Brand Guidelines</a></li>
                            <li class="list-group-item"><a href="~/files/Marketing/Capital Talent Bank - Brand Guidelines.pdf" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Capital Talent Bank - Brand Guidelines</a></li>
                            <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/MARKETING/supporting_resources/content/Corporate_Directory/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> WLC Templates and logos</a></li>
                            <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> <a href="~/files/Marketing/FINAL Photography Permission Form.docx" target="_blank" rel="noopener">Photography Permission Form</a> | <a href="~/files/Marketing/FINAL Inclusive Learning Photography Permission Form.docx" target="_blank" rel="noopener">Parental Consent Form</a></li>
                            <li class="list-group-item"><a href="~/files/Marketing/WLC COVID-19 Posters [PREVIEW] (3) (1).pdf" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> WLC Covid-19 Posters - pdf</a></li>
                            <li class="list-group-item"><a href="https://drive.google.com/file/d/15fvZ1Wjzrzp2S78QS0x1LM7MD_e16bDT/view?usp=sharing" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> WLC Covid-19 Posters - zip file</a></li>
                            <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> WLC Covid-19 Posters - Do not congregate [<a href="~/files/Marketing/Do not congregate [A2 Poster].pdf" target="_blank" rel="noopener">A2</a>] On Means On (New) [<a href="~/files/Marketing/On Means On (New) [A2 Poster].pdf" target="_blank" rel="noopener">A2</a>] [<a href="~/files/Marketing/On Means On (New) [A3 Poster].pdf" target="_blank" rel="noopener">A3</a>]  Thank You - Social Distancing [<a href="~/files/Marketing/Thank you - Social Distancing [A2 Poster].pdf" target="_blank" rel="noopener">A2</a>] [<a href="~/files/Marketing/Thank you - Social Distancing [A3 Poster].pdf" target="_blank" rel="noopener">A3</a>]</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="bd-callout bd-callout-warning">
                        <h4>Marketing Requests</h4>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="https://forms.gle/76ZJgU88mWcAXLjg9" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Submit a design request</a></li>
                            <li class="list-group-item"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdFnFD6SSfKboYjJHgU5erTe4umrCDX8YcpbhWw6xhsEJuLZw/viewform?usp=sf_link" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Submit an amend for the College website</a></li>
                            <li class="list-group-item"><a href="https://docs.google.com/forms/d/e/1FAIpQLSececnGOk332_J8zqsfWmtkr-bABu4EixfYaRWsL1KQTZRZeA/viewform?usp=sf_link" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Submit a story for social media</a></li>
                            <li class="list-group-item"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfb_Mh0VSd_-N2Fj-viz8TLKP1zQNnZMcSVK3mKrrnKmKt_dQ/viewform?usp=sf_link" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Submit a story for the Staff Portal</a></li>
                            <li class="list-group-item"><a href="https://docs.google.com/a/wlc.ac.uk/forms/d/e/1FAIpQLSd4j4nWfcp-fTaJoiO3K24NaI58CPWYQE1teJX1B9mpqYsGPQ/viewform?c=0&w=1" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Submit a request for existing marketing materials</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="bd-callout bd-callout-warning">
                <a class="twitter-timeline" href="https://twitter.com/westlondoncol?ref_src=twsrc%5Etfw">Tweets by westlondoncol</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>
