@page
@model StaffPortal.Pages.NurseryModel
@{
    ViewData["Title"] = "Nursery";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> Nursery
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Contact the Team</h4>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fas fa-user"></i> Vanessa Rodrigues De Sousa Honrado</li>
                        <li class="list-group-item"><i class="fas fa-user-tag"></i> Nursery Officer</li>
                        <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:v.rodrigues@wlc.ac.uk">v.rodrigues@wlc.ac.ukk</a></li>
                        <li class="list-group-item"><i class="fas fa-phone"></i> 2249</li>
                    </ul>
                </p>
                <p>
                    <a href="mailto:v.rodrigues@wlc.ac.uk?subject=Enquiry%20from%20Staff%20%Portal" class="btn btn-primary"><i class="fas fa-envelope"></i> v.rodrigues@wlc.ac.uk</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-info">
                <h4>What We Do</h4>
                <p>
                    The Nursery is designed specifically for children – all the equipment is set at child level.
                </p>
                <p>
                    The Nursery incorporates:
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> A spacious activity room incorporating a wet play area.</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> A quiet room providing a calming environment.</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> A covered entrance.</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> Utilities combining child level toilets and sinks with kitchenette.</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> The Nursery also boasts a large outdoor play area.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Resources</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/nursery/supporting_resources/content/Aims.htm" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Aims</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/nursery/supporting_resources/content/application.htm" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Applications</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/nursery/supporting_resources/content/Sessions%20and%20Prices.htm" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Nursery Sessions and Prices</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/nursery/supporting_resources/content/opening.htm" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Opening Hours</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/nursery/supporting_resources/content/Environment_Routines.htm" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Nursery Environment and Routines</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/nursery/supporting_resources/content/curriculum2.htm" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Curriculum</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/nursery/supporting_resources/content/Parent%20Comments.htm" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Parents' Comments</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/nursery/supporting_resources/content/Policies%20and%20Procedures.htm" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Policies and Procedures</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>