@page
@model StaffPortal.Pages.QualityModel
@{
    ViewData["Title"] = "Quality";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> Quality
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Contact the Team</h4>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fas fa-user"></i> Sara Woodward</li>
                        <li class="list-group-item"><i class="fas fa-user-tag"></i> Assistant Principal - Quality &amp; Student Services</li>
                        <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:s.woodward@wlc.ac.uk">s.woodward@wlc.ac.uk</a></li>
                        <li class="list-group-item"><i class="fas fa-phone"></i> 2100</li>
                    </ul>
                </p>
                <p>
                    <a href="mailto:s.woodward@wlc.ac.uk; r.conway@wlc.ac.uk; j.germani@wlc.ac.uk" class="btn btn-primary"><i class="fas fa-envelope"></i> Email the Team</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-info">
                <h4>What We Do</h4>
                <p>
                    Welcome to the Quality Portal
                </p>
                <p>
                    The Quality team have three priorities :-
                    <ol class="list-group">
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> To support the development of consistently good and better teaching, learning and assessment</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> To drive quality improvement and assurance for both delivery and support teams</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> To provide coaching, support and training that promotes organisational transformation</li>
                    </ol>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Resources</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="https://sites.google.com/gspace.wlc.ac.uk/quality-improvement/home" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Quality Improvement Team Portal</a>
                        <br />
                        Including: Teacher's Toolkit | Teaching Tips | Observation of T&L | Google Educator Awards | Cava/IQA | CPD Compendium | Resources | Quality Assurance | Business Support & SLA | Quality Framework | SARs & QIPs
                    </li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/QUALITY/supporting_resources/reports/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Reports and Surveys</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>