@page
@model StaffPortal.Pages.SecurityModel
@{
    ViewData["Title"] = "Security";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> Security
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Contact the Team</h4>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fas fa-user"></i> KehindeObafemi - Ajayi</li>
                        <li class="list-group-item"><i class="fas fa-user-tag"></i> Security Supervisor</li>
                        <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:k.obafemi@wlc.ac.uk">k.obafemi@wlc.ac.uk</a></li>
                        <li class="list-group-item"><i class="fas fa-phone"></i> 2361</li>
                    </ul>
                </p>
                <p>
                    <a href="mailto:d.gornea@wlc.ac.uk; a.aidara@wlc.ac.uk; na.de@wlc.ac.uk; do.fernandes@wlc.ac.uk; o.hamza@wlc.ac.uk; k.hussain@wlc.ac.uk; ka.hussain@wlc.ac.uk; n.kumar@wlc.ac.uk; r.lerma@wlc.ac.uk; r.machado@wlc.ac.uk; s.mendes@wlc.ac.uk; k.obafemi@wlc.ac.uk; n.pokharel@wlc.ac.uk; s.rodrigues@wlc.ac.uk; k.sawyer@wlc.ac.uk; n.thapa@wlc.ac.uk" class="btn btn-primary"><i class="fas fa-envelope"></i> Email the Team</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-info">
                <h4>What We Do</h4>
                <p>
                    Maintain security throughout each campus.
                </p>
            </div>
        </div>
    </div>
</div>