@page
@model StaffPortal.Pages.StudentEngagementAndExperienceModel
@{
    ViewData["Title"] = "Student Engagement and Experience";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> Student Engagement and Experience
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Contact the Team</h4>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fas fa-user"></i> Teresa Harkin</li>
                        <li class="list-group-item"><i class="fas fa-user-tag"></i> Senior Student Engagement & Experience Officer - S/A</li>
                        <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:t.harkin@wlc.ac.uk">t.harkin@wlc.ac.uk</a></li>
                        <li class="list-group-item"><i class="fas fa-phone"></i> 6132</li>
                    </ul>
                </p>
                <p>
                    <a href="mailto:LIS@wlc.ac.uk?subject=Eqnuiry%20from%20Staff%20Portal" class="btn btn-primary"><i class="fas fa-envelope"></i> LIS@wlc.ac.uk</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-info">
                <h4>What We Do</h4>
                <p>
                    The Student Engagement and Experience department aims to provide a welcoming, friendly, effective and efficient solution focused ‘one stop shop’ service to deliver the Admissions, Enrolment and Learner Information Service (IAG), in accordance with excellent customer care, audit requirements and College procedures and policies. To use multitasking skills to ensure a fast paced department meets all of its targets. To support and actively engage with the reception services and Marketing and curriculum activities which support the conversion of enquiry and application to enrolment.
                </p>
                <h5>
                    Admissions
                </h5>
                <p>
                    The admissions department is responsible for processing applications received from the online form on the college website, transferring applicants to the appropriate departments for interviews, conducting interviews and assessments. The admissions officer is then responsible for post interview administration.
                </p>
                <h5>
                    Enrolment
                </h5>
                <p>
                    To carry out a full fee assessment, enrolment and cashiering service, whilst ensuring an auditable, accurate, record keeping trail of all transactions in accordance with the agreed college processes i.e. reconciliation of monies for banking purposes
                </p>
                <h5>
                    Learner Information Service
                </h5>
                <p>
                    The Learner Information Service offers impartial advice on course options and careers routes for existing students and members of the public.
                </p>
                <h5>
                    Reception and Switchboard
                </h5>
                <p>
                    Reception are responsible for greeting students, staff and visitors whilst providing a high level of customer care whilst complying  with the college safeguarding policies. Switchboard transfer incoming calls to the relevant department or staff member also whilst providing excellent customer care.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Resources</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/Learner_Information_Service/Service/opening%20times.html" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Opening Times</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/Learner_Information_Service/supporting_resources/content/team_docs/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Team Documentation</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/Learner_Information_Service/supporting_resources/content/policies/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Policies</a></li>
                    <li class="list-group-item"><a href="https://docs.google.com/a/wlc.ac.uk/forms/d/e/1FAIpQLSdlfpECsQ8H5YVp-uYUhXp7fI4gaGBViWvKj1btJOc4Vf9I9A/viewform" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Learner Information Service - Referral form</a></li>
                    <li class="list-group-item"><a href="https://docs.google.com/document/d/1ITeQORPwxT1ZhXvpraqBW_1vTONpik_GClB3aNAGRSg/edit?ts=59945f2a" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Compliments, Suggestions and Complaints Forms</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Quality</h4>

                <ul class="list-group">
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/Learner_Information_Service/quality/content/Matrixindex.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Matrix</a></li>
                    <li class="list-group-item"><a href="https://staff.wlc.ac.uk/staff_portal/services/Learner_Information_Service/quality/content/SAR/index.asp" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> SAR & QUIP</a></li>
                </ul>

                <h5>
                    Service Level Agreement
                </h5>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://docs.google.com/presentation/d/1XpAXKGyNVrpAZyYy_ssdYLD33yYzXXDdIYleEKG2C4o/edit#slide=id.p4" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Carousel Flowchart</a></li>
                    <li class="list-group-item"><a href="https://docs.google.com/presentation/d/111iMxYuWkgKFyyhFpUYk54uPrWbVcfPZCGcavrKDb7g/edit#slide=id.p4" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Admissions Flowchart Unknown Meeting Dates</a></li>
                    <li class="list-group-item"><a href="https://docs.google.com/presentation/d/1q-H_qAAO71xLYAQYXYnuUX3y57g_LaMKnvZhDbQl9W4/edit#slide=id.p4" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Admissions Flowchart meeting dates available</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Communication</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://docs.google.com/spreadsheets/d/1i0SYSHdaCo7k_aIzJd08yNLP5OktAW8keoaW4kT063g/edit#gid=213954122" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Interview Schedule for 17/18 & In Year 16/17</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>