@page
@model StaffPortal.Pages.UnionsModel
@{
    ViewData["Title"] = "Unions";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 my-auto">
            <h2>
                <i class="fas fa-users"></i> Unions
            </h2>
        </div>
        <div class="col-md-4 text-center my-auto">
            <a href="https://www.wlc.ac.uk" title="WLC Homepage" target="_blank" rel="noopener">
                <img src="/images/CollegeLogo.png" class="img-fluid CollegeLogoPageTop" alt="West London College Logo" />
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <h4 class="alert-heading">Contact the Team</h4>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-3">
            <div class="alert alert-primary" role="alert">
                <ul class="list-group">
                    <li class="list-group-item"><h5><i class="fas fa-user"></i> Peter Smith</h5></li>
                    <li class="list-group-item"><i class="fas fa-user-tag"></i> Branch Chair</li>
                    <li class="list-group-item"><span class="badge rounded-pill bg-secondary"><i class="fas fa-hashtag"></i> UCU Rep</span></li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:p.smith@wlc.ac.uk">p.smith@wlc.ac.uk</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-3">
            <div class="alert alert-primary" role="alert">
                <ul class="list-group">
                    <li class="list-group-item"><h5><i class="fas fa-user"></i> Ed Marney</h5></li>
                    <li class="list-group-item"><i class="fas fa-user-tag"></i> Vice Chair</li>
                    <li class="list-group-item"><span class="badge rounded-pill bg-secondary"><i class="fas fa-hashtag"></i> UCU Rep</span></li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:e.marney@wlc.ac.uk">e.marney@wlc.ac.uk</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-3">
            <div class="alert alert-primary" role="alert">
                <ul class="list-group">
                    <li class="list-group-item"><h5><i class="fas fa-user"></i> Jonathan Gurney</h5></li>
                    <li class="list-group-item"><i class="fas fa-user-tag"></i> Branch Secretary</li>
                    <li class="list-group-item"><span class="badge rounded-pill bg-secondary"><i class="fas fa-hashtag"></i> UCU Rep</span></li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:j.gurney@wlc.ac.uk">j.gurney@wlc.ac.uk</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-3">
            <div class="alert alert-primary" role="alert">
                <ul class="list-group">
                    <li class="list-group-item"><h5><i class="fas fa-user"></i> Leila Elsibaie</h5></li>
                    <li class="list-group-item"><i class="fas fa-user-tag"></i> Branch Treasurer</li>
                    <li class="list-group-item"><span class="badge rounded-pill bg-secondary"><i class="fas fa-hashtag"></i> UCU Rep</span></li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:l.elsibaie@wlc.ac.uk">l.elsibaie@wlc.ac.uk</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-3">
            <div class="alert alert-primary" role="alert">
                <ul class="list-group">
                    <li class="list-group-item"><h5><i class="fas fa-user"></i> Zara Bokhari</h5></li>
                    <li class="list-group-item"><i class="fas fa-user-tag"></i> Equalities Officer</li>
                    <li class="list-group-item"><span class="badge rounded-pill bg-secondary"><i class="fas fa-hashtag"></i> UCU Rep</span></li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:z.bokhari@wlc.ac.uk">z.bokhari@wlc.ac.uk</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-3">
            <div class="alert alert-primary" role="alert">
                <ul class="list-group">
                    <li class="list-group-item"><h5><i class="fas fa-user"></i> Bruno Ferriera</h5></li>
                    <li class="list-group-item"><i class="fas fa-user-tag"></i> Commitee Member</li>
                    <li class="list-group-item"><span class="badge rounded-pill bg-secondary"><i class="fas fa-hashtag"></i> UCU Rep</span></li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:b.ferreira@wlc.ac.uk">b.ferreira@wlc.ac.uk</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-3">
            <div class="alert alert-primary" role="alert">
                <ul class="list-group">
                    <li class="list-group-item"><h5><i class="fas fa-user"></i> Shirley Noel</h5></li>
                    <li class="list-group-item"><i class="fas fa-user-tag"></i> Commitee Member</li>
                    <li class="list-group-item"><span class="badge rounded-pill bg-secondary"><i class="fas fa-hashtag"></i> UCU Rep</span></li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:s.noel@wlc.ac.uk">s.noel@wlc.ac.uk</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-3">
            <div class="alert alert-primary" role="alert">
                <ul class="list-group">
                    <li class="list-group-item"><h5><i class="fas fa-user"></i> Ed Marney</h5></li>
                    <li class="list-group-item"><i class="fas fa-user-tag"></i> Health &amp; Safety</li>
                    <li class="list-group-item"><span class="badge rounded-pill bg-secondary"><i class="fas fa-hashtag"></i> UCU Rep</span></li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:e.marney@wlc.ac.uk">e.marney@wlc.ac.uk</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-3">
            <div class="alert alert-primary" role="alert">
                <ul class="list-group">
                    <li class="list-group-item"><h5><i class="fas fa-user"></i> Steve Smith</h5></li>
                    <li class="list-group-item"><span class="badge rounded-pill bg-warning text-dark"><i class="fas fa-hashtag"></i> UNISON Rep</span></li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:s.smith@wlc.ac.uk">s.smith@wlc.ac.uk</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-3">
            <div class="alert alert-primary" role="alert">
                <ul class="list-group">
                    <li class="list-group-item"><h5><i class="fas fa-user"></i> Teresa Harkin</h5></li>
                    <li class="list-group-item"><span class="badge rounded-pill bg-warning text-dark"><i class="fas fa-hashtag"></i> UNISON Rep</span></li>
                    <li class="list-group-item"><i class="fas fa-at"></i> <a href="mailto:t.harkin@wlc.ac.uk">t.harkin@wlc.ac.uk</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-info">
                <h4>What We Do</h4>
                <p>
                    UCU and Unison are the two main unions that represent employees in the college:
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> UCU - Lecturers and other teaching staff</li>
                        <li class="list-group-item"><i class="fas fa-chevron-circle-right"></i> Unison - Support Staff</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Resources</h4>
                <h5>UCU</h5>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://www.ucu.org.uk/" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> UCU web page</a></li>
                    <li class="list-group-item"><a href="https://www.ucu.org.uk/join" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Join UCU</a></li>
                    <li class="list-group-item"><a href="https://www.ucu.org.uk/coronavirus" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> UCU  advice on Covid-19</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="bd-callout bd-callout-warning">
                <h4>Resources</h4>
                <h5>UNISON</h5>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://www.unison.org.uk/" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> UNISON web page</a></li>
                    <li class="list-group-item"><a href="https://www.joinunison.org/" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Join UNISON</a></li>
                    <li class="list-group-item"><a href="https://www.unison.org.uk/at-work/education-services/about/colleges/covid-19-advice-fe-staff/" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Covid -19 Advice to FE Sector</a></li>
                    <li class="list-group-item"><a href="https://www.unison.org.uk/coronavirus-rights-work/coronavirus-job-retention-scheme-qa/" target="_blank" rel="noopener"><i class="fas fa-chevron-circle-right"></i> Furlough and Job Retention Scheme</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>